{%- import "../../elements/select.html" as scope -%}

<form
    method="post"
    action="/orgs/{{ org_member.org_id }}/members/{{ org_member.user_id }}/edit"
    hx-post="/orgs/{{ org_member.org_id }}/members/{{ org_member.user_id }}/edit"
    hx-target="#edit-org-member-container"
>
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <h1 class="title is-4 has-text-weight-bold">Member Details</h1>

                    {% match error_message %}
                        {% when Some with (msg) %}
                            <div class="mb-5 notification is-danger">
                                {{ msg }}
                            </div>
                        {% when None %}
                    {% endmatch %}

                    <div class="field mb-5">
                        <label class="label">User</label>
                        <div class="control">
                            <p><strong>
                                {% match org_member.member_email %}
                                    {% when Some with (email) %}
                                        {{ email }}
                                    {% when None %}
                                        (unknown)
                                {% endmatch %}
                            </strong></p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Role</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                {% call scope::h_select("role", payload.role, "Select a role", "", role_options ) %}
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Active</label>
                        <div class="control">
                            <label class="checkbox">
                                {%if let Some(active) = payload.active %}
                                    <input name="active" type="checkbox" value="1" checked />
                                {% else %}
                                    <input name="active" type="checkbox" value="1" />
                                {% endif %}
                                &nbsp;Active
                            </label>
                        </div>
                    </div>

                    <div class="pt-3 field is-grouped">
                        <div class="control">
                            <input type="hidden" name="token" value="{{ payload.token }}" />
                            <button class="button is-link" type="submit" name="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button
                                class="button is-link is-light"
                                hx-get="/orgs/{{ org_member.org_id }}/members/{{ org_member.user_id }}/edit-controls"
                                hx-target="#edit-org-member-container"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
