<form
    method="post"
    action="/orgs/{{ org_app.org_id }}/apps/{{ org_app.app_id }}/delete"
    hx-post="/orgs/{{ org_app.org_id }}/apps/{{ org_app.app_id }}/delete"
    hx-target="#edit-org-app-container"
>
    <div class="columns">
        <div class="column is-half">
            {% match error_message %}
                {% when Some with (msg) %}
                    <div class="mb-5">
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Unable to remove org app</p>
                            </div>
                            <div class="message-body">
                                {{ msg }}
                            </div>
                        </article>
                    </div>
                {% when None %}
            {% endmatch %}

            <article class="message is-warning">
                <div class="message-header">
                    <p>Warning</p>
                </div>
                <div class="message-body">
                    <p>Are you sure you want to remove app <strong>
                        {% match org_app.app_name %}
                            {% when Some with (name) %}
                                {{ name }}
                            {% when None %}
                                (unknown)
                        {% endmatch %}
                    </strong>?</p>

                    <div class="mt-5 field is-grouped">
                        <div class="control">
                            <input type="hidden" name="token" value="{{ payload.token }}" />
                            <button class="button is-danger" type="submit" name="submit">Remove</button>
                        </div>
                        <div class="control">
                            <button
                                class="button is-link is-light"
                                hx-get="/orgs/{{ org_app.org_id }}/apps/{{ org_app.app_id }}/edit-controls"
                                hx-target="#edit-org-app-container"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</form>
