<form
    method="post"
    action="/profile/change-password"
    hx-post="/profile/change-password"
    hx-target="#edit-profile-container"
>
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <h1 class="title is-4 has-text-weight-bold">Change Your Password</h1>

                    {% match error_message %}
                        {% when Some with (msg) %}
                            <div class="mb-5 notification is-danger">
                                {{ msg }}
                            </div>
                        {% when None %}
                    {% endmatch %}

                    <div class="field">
                        <label class="label">Current Password</label>
                        <div class="control">
                            <input
                                class="input"
                                type="password"
                                placeholder="Enter current password"
                                name="current_password"
                                minlength="8"
                                maxlength="60"
                                required
                            >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">New Password</label>
                        <div class="control">
                            <input
                                class="input"
                                type="password"
                                placeholder="Enter new password"
                                name="new_password"
                                minlength="8"
                                maxlength="60"
                                required
                            >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Repeat New Password</label>
                        <div class="control">
                            <input
                                class="input"
                                type="password"
                                placeholder="Repeat new password"
                                name="confirm_new_password"
                                minlength="8"
                                maxlength="60"
                                required
                            >
                        </div>
                    </div>

                    <div class="pt-3 field is-grouped">
                        <div class="control">
                            <input type="hidden" name="token" value="{{ payload.token }}" />
                            <button class="button is-link is-warning" type="submit" name="submit">Submit</button>
                        </div>
                        <div class="control">
                            <button
                                class="button is-link is-light"
                                hx-get="/profile/profile-controls"
                                hx-target="#edit-profile-container"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
