<div class="is-flex is-justify-content-space-between">
    <div>
        <div class="buttons">
            <a class="button" href="/orgs">
                <span class="icon is-small">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Back</span>
            </a>

            {% if can_edit %}
                <button
                    class="button is-primary"
                    hx-get="/orgs/{{ org.id }}/edit"
                    hx-target="#edit-org-container"
                >
                    Edit
                </button>
            {% endif %}
        </div>
    </div>

    {% if can_edit || can_delete %}
        <div
            :class="open ? 'dropdown is-right is-active' : 'dropdown is-right'"
            id="btn-org-menu"
            x-data="{ open: false }"
        >
            <div class="dropdown-trigger">
                <button
                    id="btn-org-menu-trigger"
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                    @click="open = !open"
                >
                    <span class="icon is-small">
                        <i class="fas fa-cog" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% if can_edit %}
                        <a
                            class="dropdown-item"
                            hx-get="/orgs/{{ org.id }}/change-owner"
                            hx-target="#edit-org-container"
                        >
                            <span class="icon is-small">
                                <i class="fas fa-pen" aria-hidden="true"></i>
                            </span>
                            Change Owner
                        </a>
                    {% endif %}

                    {% if can_delete %}
                        <hr class="dropdown-divider" />
                        <a
                            class="dropdown-item has-text-danger"
                            hx-get="/orgs/{{ org.id }}/delete"
                            hx-target="#edit-org-container"
                        >
                            <span class="icon is-small">
                                <i class="fas fa-times" aria-hidden="true"></i>
                            </span>
                            Delete Org
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% if updated %}
    <a id="org-name-breadcrumb" href="/orgs/{{ org.id }}" aria-current="page" hx-swap-oob="true">{{ org.name }}</a>

    <div id="org-name-w" class="column is-one-third" hx-swap-oob="true">
        <p class="has-text-grey-dark"><strong>Name:</strong></p>
        <p>{{ org.name }}</p>
    </div>

    <div id="org-owner-w" class="column is-one-third" hx-swap-oob="true">
        <p class="has-text-grey-dark"><strong>Owner</strong></p>
        {% match org.owner_email %}
            {% when Some with (email) %}
                <p>{{ email }}</p>
            {% when None %}
                <p class="has-text-grey-light">No owner</p>
        {% endmatch %}
    </div>

    <div id="org-status-w" class="column is-one-third" hx-swap-oob="true">
        <p class="has-text-grey-dark"><strong>Status:</strong></p>
        {% if org.status == "active" %}
            <p><span class="tag is-success">Active</span></p>
        {% else %}
            <p><span class="tag">Inactive</span></p>
        {% endif %}
    </div>
{% endif %}
