{% if org_members.len() > 0 %}
    <div class="box">
        <table class="table is-striped is-hoverable is-fullwidth">
            <tbody>
                {% for member in org_members %}
                    <tr>
                        <td>
                            {% match member.email %}
                                {% when Some with (email) %}
                                    {{ email }}
                                {% when None %}
                                    &nbsp;
                            {% endmatch %}
                        </td>
                        <td>
                            <button
                                class="button is-primary is-small"
                                hx-get="/orgs/{{ org_id }}/select-owner/{{ member.user_id }}"
                                hx-target=".multi-step-form"
                            >
                                Select
                            </button>
                        </td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
{% else %}
    <div class="message is-info">
        <div class="message-header">
            <p>No match</p>
        </div>
        <div class="message-body">
            There are no members matching your search criteria.
        </div>
    </div>
{% endif %}
