<form
    method="post"
    action="/apps/{{ app.id }}/regenerate-secret"
    hx-post="/apps/{{ app.id }}/regenerate-secret"
    hx-target="#edit-user-container"
>
    <div class="columns">
        <div class="column is-half">
            {% match error_message %}
                {% when Some with (msg) %}
                    <div class="mb-5">
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Unable to regenerate app secret</p>
                            </div>
                            <div class="message-body">
                                {{ msg }}
                            </div>
                        </article>
                    </div>
                {% when None %}
            {% endmatch %}

            <article class="message is-warning">
                <div class="message-header">
                    <p>Warning</p>
                </div>
                <div class="message-body">
                    <p>Are you sure you want to regenerate app secret for <strong>{{ app.name }}</strong>?</p>

                    <div class="mt-5 field is-grouped">
                        <div class="control">
                            <input type="hidden" name="token" value="{{ payload.token }}" />
                            <button class="button is-danger" type="submit" name="submit">Regenerate Secret</button>
                        </div>
                        <div class="control">
                            <button
                                class="button is-link is-light"
                                hx-get="/apps/{{ app.id }}/edit_controls"
                                hx-target="#edit-user-container"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</form>
