{% match error_message %}
    {% when Some with (msg) %}
        <div class="error-message mb-5 tag is-danger">
            <p>{{ msg }}</p>
        </div>
    {% when None %}
{% endmatch %}

{% if apps.len() > 0 %}
<div class="box">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Updated</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        {% for app in apps %}
        <tr>
            <td><a href="/apps/{{ app.id }}">{{ app.name }}</a></td>
            <td>{{ app.updated_at }}</td>
            <td>{{ app.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% match pagination %}
        {% when Some with (pg) %}
        <nav class="pagination p-3" role="navigation" aria-label="pagination">
            {% match pg.prev %}
                {% when Some with (prev) %}
                <a
                    href="/apps{{ prev.url }}"
                    hx-push-url="/apps{{ prev.url }}"
                    hx-get="/apps/search{{ prev.url }}"
                    hx-target=".album-items"
                    class="pagination-previous"
                >
                    Previous
                </a>
                {% when None %}
            {% endmatch %}

            {% match pg.next %}
                {% when Some with (next) %}
                <a
                    href="/apps{{ next.url }}"
                    hx-push-url="/apps{{ next.url }}"
                    hx-get="/apps/search{{ next.url }}"
                    hx-target=".album-items"
                    class="pagination-previous"
                >
                    Next page
                </a>
                {% when None %}
            {% endmatch %}

            <ul class="pagination-list">
            {% for item in pg.items %}
                {% match item %}
                    {% when Some with (link) %}
                    <li>
                        <a
                            href="/apps{{ link.url }}"
                            hx-push-url="/apps{{ link.url }}"
                            hx-get="/apps/search{{ link.url }}"
                            hx-target=".album-items"
                            {% if link.active %}
                            class="pagination-link is-current"
                            aria-label="Page {{ link.page }}"
                            aria-current="page"
                            {% else %}
                            class="pagination-link"
                            aria-label="Goto page {{ link.page }}"
                            {% endif %}
                        >
                            {{ link.page }}
                        </a>
                    </li>
                    {% when None %}
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                {% endmatch %}
            {% endfor %}
            </ul>
        </nav>
        {% when None %}
    {% endmatch %}
</div>
{% else %}
<div class="message is-info">
    <div class="message-header">
        <p>No match</p>
    </div>
    <div class="message-body">
        There are no apps matching your search criteria.
    </div>
</div>
{% endif %}
