{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/apps">Apps</a></li>
                <li class="is-active">
                    <a href="/apps/{{ app.id }}" aria-current="page">
                        <span id="app-name-breadcrumb-label">{{ app.name }}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <h1 class="title">App Information</h1>

        <div id="edit-user-container">
            {% include "widgets/apps/edit_controls.html" %}
        </div>

        <div class="columns">
            <div class="column is-half">
                <div class="box mt-5">
                    <h1 class="title is-4 has-text-weight-bold">App</h1>

                    <div class="columns is-variable is-6">
                        <div class="column">
                            <p class="has-text-grey-dark"><strong>Name:</strong></p>
                            <p id="app-name-view-label">{{ app.name }}</p>
                        </div>
                    </div>

                    {% if can_edit %}
                    <div class="columns is-variable is-6">
                        <div class="column">
                            <div class="field">
                                <label class="label" for="app-client-id-view-label">Client ID</label>
                                <div class="control">
                                    <input
                                        id="app-client-id-view-label"
                                        class="input is-family-monospace"
                                        type="text"
                                        readonly
                                        value="{{ app.client_id }}"
                                    >
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="app-client-secret-view-label">Client Secret</label>
                                <div class="control">
                                    <input
                                        id="app-client-secret-view-label"
                                        class="input is-family-monospace"
                                        type="text"
                                        readonly
                                        value="{{ app.client_secret }}"
                                    >
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="app-redirect-uri-view-label">Redirect URI</label>
                                <div class="control">
                                    <input
                                        id="app-redirect-uri-view-label"
                                        class="input is-family-monospace"
                                        type="text"
                                        readonly
                                        value="{{ app.redirect_uri }}"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
