{% extends "layout/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="is-active">
                        <a href="/profile/switch-auth-context" aria-current="page">Switch Org</a>
                    </li>
                </ul>
            </nav>

            <h1 class="title">Switch Org</h1>

            <div id="switch-org-container">
                {% include "widgets/user/switch_auth_context_form.html" %}
            </div>
        </div>
    </section>
{% endblock %}
