{% if users.len() > 0 %}
<div class="box">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</a></td>
            <td>{{ user.name }}</td>
            <td><a class="button is-primary is-small" href="">Select</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% else %}
<div class="message is-info">
    <div class="message-header">
        <p>No match</p>
    </div>
    <div class="message-body">
        There are no users matching your search criteria.
    </div>
</div>
{% endif %}
