<form
    method="post"
    action="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}/photos/{{ photo.id }}/delete"
    hx-post="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}/photos/{{ photo.id }}/delete"
    hx-target="closest .photo-grid-item"
    hx-swap="outerHTML"
>
    {% match error_message %}
        {% when Some with (msg) %}
            <p class="has-text-danger">{{ msg }}</p>
        {% when None %}
    {% endmatch %}

    <div class="photo-confirm-delete is-flex is-justify-content-end">
        <input type="hidden" name="token" value="{{ payload.token }}" />
        <button
            class="button is-small mr-2"
            hx-get="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}/photos/{{ photo.id }}/delete_controls"
            hx-target="closest .photo-item-controls"
            hx-swap="innnerHTML"
        >
            <span class="icon is-small">
                <i class="fas fa-arrow-left"></i>
            </span>
        </button>
        <button class="button is-small is-danger">
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
        </button>
    </div>
</form>
