{% match error_message %}
    {% when Some with (msg) %}
        <div class="error-message mb-5 tag is-danger">
            <p>{{ msg }}</p>
        </div>
    {% when None %}
{% endmatch %}

{% for photo in photos %}
<div
    class="photo-grid-item"
{% if photo.id == last_item %}
    {% match next_page %}
        {% when Some with (page) %}
        hx-get="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}/photo_grid?page={{ page }}"
        hx-trigger="revealed"
        hx-swap="afterend"
        {% when None %}
    {% endmatch %}
{% endif %}
>
    <div class="photo-item-controls mb-1">
        <div class="photo-pre-delete is-flex is-justify-content-end">
            <button
                class="button is-small"
                hx-get="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}/photos/{{ photo.id }}/delete"
                hx-target="closest .photo-item-controls"
                hx-swap="innerHTML"
            >
                <span class="icon is-small">
                    <i class="fas fa-times"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="photo-item has-background-{{ theme }}">
        <a
            href="{{ photo.orig.url }}"
            data-pswp-width="{{ photo.preview.dimension.width }}"
            data-pswp-height="{{ photo.preview.dimension.height }}"
            data-pswp-src="{{ photo.preview.url }}"
            data-cropped="true"
            class="photo-item-src"
            title="{{ photo.name }}"
        >
            <img src="{{ photo.thumb.url }}" alt="{{ photo.name }}" loading="lazy"/>
        </a>
    </div>
    <div class="photo-caption">
        <small>{{ photo.name }}</small>
    </div>
</div>
{% endfor %}

{% match meta %}
    {% when Some with (page_meta) %}
        {% if page_meta.total_records > 0 %}
            {% if page_meta.page == page_meta.total_pages as i32 %}
            <span id="photos-count-w" hx-swap-oob="true">
                <span class="current-count">{{ page_meta.total_records }}</span>
                of
                <span class="total-records">{{ page_meta.total_records }}</span>
            </span>
            {% else %}
            <span id="photos-count-w" hx-swap-oob="true">
                <span class="current-count">{{ page_meta.page * page_meta.per_page }}</span>
                of
                <span class="total-records">{{ page_meta.total_records }}</span>
            </span>
            {% endif %}
        {% endif %}
    {% when None %}
{% endmatch %}
