{% match error_message %}
    {% when Some with (msg) %}
        <div class="panel-block">
            <div class="error-message mb-5 tag is-danger">
                <p>{{ msg }}</p>
            </div>
        </div>
    {% when None %}
{% endmatch %}

{% if can_create %}
<a class="panel-block has-text-primary" href="/clients/new">
    <span class="panel-icon">
        <i class="fas fa-plus has-text-primary" aria-hidden="true"></i>
    </span>
    Create new client
</a>
{% endif %}

{% for client in clients %}
    <a class="panel-block" href="/clients/{{ client.id }}">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        {{ client.name }}
    </a>
{% endfor %}
