<div class="is-flex is-justify-content-space-between">
    <div>
        <div class="buttons">
            <a
                class="button is-info"
                href="/profile/switch-auth-context"
            >
                Switch Org
            </a>
            <button
                class="button is-warning"
                hx-get="/profile/change-password"
                hx-target="#edit-profile-container"
            >
                Change Password
            </button>
        </div>
    </div>
</div>
