{% match error_message %}
    {% when Some with (msg) %}
        <div class="mb-5 notification is-danger">
            {{ msg }}
        </div>
    {% when None %}
{% endmatch %}

<div class="field mb-5">
    <label class="label">Org</label>
    <div class="control">
        <input type="hidden" name="org_id" value="{{ payload.org_id }}" />
        <input type="hidden" name="org_name" value="{{ payload.org_name }}" />
        <p><strong>{{ payload.org_name }}</strong></p>
    </div>
</div>

<hr />

<div class="field is-grouped">
    <div class="control">
        <input type="hidden" name="token" value="{{ payload.token }}" />
        <button class="button is-link" type="submit" name="submit">Switch Org</button>
    </div>
    <div class="control">
        <a class="button is-light" href="/profile">Cancel</a>
    </div>
</div>
