<form
    method="post"
    action="/orgs/{{ org.id }}/change-owner"
    hx-post="/orgs/{{ org.id }}/change-owner"
    hx-target="#edit-org-container"
>
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <h1 class="title is-4 has-text-weight-bold">Org Owner</h1>

                    {% match error_message %}
                        {% when Some with (msg) %}
                            <div class="mb-5 notification is-danger">
                                {{ msg }}
                            </div>
                        {% when None %}
                    {% endmatch %}

                    <div class="field mb-5">
                        <label class="label">Current Owner</label>
                        <div class="control">
                            <p>
                                <strong>
                                    {% match org.owner_email %}
                                        {% when Some with (email) %}
                                            {{ email }}
                                        {% when None %}
                                            (none)
                                    {% endmatch %}
                                </strong>
                            </p>
                        </div>
                    </div>

                    <div class="multi-step-form">
                        <div class="mb-5">
                            <strong>Select New Owner</strong>
                        </div>

                        <div class="mb-5">
                            <p class="control has-icons-left">
                                <input
                                    class="input"
                                    type="search"
                                    placeholder="Search new owner"
                                    name="keyword"
                                    hx-get="/orgs/{{ org.id }}/search-owner"
                                    hx-trigger="input changed delay:500ms, search"
                                    hx-target=".owner-suggestions"
                                />
                                <span class="icon is-left">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </span>
                            </p>
                        </div>

                        <div
                            class="owner-suggestions"
                            hx-get="/orgs/{{ org.id }}/search-owner"
                            hx-trigger="load delay:200ms"
                            hx-target=".owner-suggestions"
                        >
                            <span class="panel-block is-skeleton">&nbsp;</span>
                            <span class="panel-block is-skeleton">&nbsp;</span>
                            <span class="panel-block is-skeleton">&nbsp;</span>
                            <span class="panel-block is-skeleton">&nbsp;</span>
                            <span class="panel-block is-skeleton">&nbsp;</span>
                            <span class="panel-block is-skeleton">&nbsp;</span>
                        </div>

                        <hr />

                        <div class="field is-grouped">
                            <div class="control">
                                <button
                                    class="button is-link is-light"
                                    hx-get="/orgs/{{ org.id }}/edit-controls"
                                    hx-target="#edit-org-container"
                                >
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
