<div class="is-flex is-justify-content-space-between">
    <div>
        <div class="buttons">
            <a class="button" href="/users">
                <span class="icon is-small">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Back</span>
            </a>

            {% if can_edit %}
            <button
                class="button is-primary"
                hx-get="/users/{{ user.id }}/update_status"
                hx-target="#edit-user-container"
            >
                Update Status
            </button>
            {% endif %}
        </div>
    </div>

    {% if can_edit || can_delete %}
    <div
        :class="open ? 'dropdown is-right is-active' : 'dropdown is-right'"
        id="btn-user-menu"
        x-data="{ open: false }"
    >
        <div class="dropdown-trigger">
            <button
                id="btn-user-menu-trigger"
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
                @click="open = !open"
            >
                <span class="icon is-small">
                    <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {% if can_edit %}
                <a
                    class="dropdown-item"
                    hx-get="/users/{{ user.id }}/reset_password"
                    hx-target="#edit-user-container"
                >
                    <span class="icon is-small">
                        <i class="fas fa-pen" aria-hidden="true"></i>
                    </span>
                    Reset Password
                </a>
                {% endif %}

                {% if can_delete %}
                <hr class="dropdown-divider" />
                <a
                    class="dropdown-item has-text-danger"
                    hx-get="/users/{{ user.id }}/delete"
                    hx-target="#edit-user-container"
                >
                    <span class="icon is-small">
                        <i class="fas fa-times" aria-hidden="true"></i>
                    </span>
                    Delete User
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if updated %}
<div id="user-status-w" class="column is-one-third" hx-swap-oob="true">
    <p class="has-text-grey-dark"><strong>Status:</strong></p>
    {% if user.status == "active" %}
        <p><span class="tag is-success">Active</span></p>
    {% else %}
        <p><span class="tag">Inactive</span></p>
    {% endif %}
</div>
{% endif %}
