{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <nav class="panel">
            <p class="panel-heading">YAAS Administration</p>
            {% if t.is_system_admin %}
            <a class="panel-block" href="/users">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Manage Users
            </a>
            <a class="panel-block" href="/apps">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Manage Apps
            </a>
            <a class="panel-block" href="/orgs">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Manage Orgs
            </a>
            {% else %}
            <a class="panel-block" href="/orgs/{{ org_id }}">
                <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                </span>
                Manage Org
            </a>
            {% endif %}
        </nav>
    </div>
</section>
{% endblock %}
