{% extends "layout/base.html" %}

{% block content %}
<style nonce="{{ t.nonce }}">
    .oauth-resume-app::before {
        content: attr(data-app-name);
    }

    .subtitle[data-app-name]::before {
        content: 'Redirecting back to ' attr(data-app-name) '...';
    }
</style>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <section class="hero is-info">
                    <div class="hero-body">
                        <p class="title">Redirecting...</p>
                        <p class="subtitle" data-app-name="{{ app_name }}"></p>
                        <p>
                            If you are not redirected, <a href="{{ next }}">click here to continue</a>.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<meta http-equiv="refresh" content="{{ refresh_content }}">
{% endblock %}
