{% extends "layout/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/orgs">Orgs</a></li>
                    <li><a href="/orgs/{{ org.id }}">{{ org.name }}</a></li>
                    <li class="is-active">
                        <a href="/orgs/{{ org.id }}/members" aria-current="page">
                            <span>Members</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <h1 class="title">Org Members</h1>

            <div class="is-flex is-justify-content-space-between mb-5">
                <div>
                    <a class="button" href="/orgs/{{ org.id }}">
                        <span class="icon is-small">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>

                <div>
                    <a class="button is-primary" href="/orgs/{{ org.id }}/members/new">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>New Member</span>
                    </a>
                </div>
            </div>

            <div class="mb-5">
                <p class="control has-icons-left">
                    <input
                        class="input"
                        type="search"
                        placeholder="Search"
                        name="keyword"
                        hx-get="/orgs/{{ org.id }}/members/search"
                        hx-trigger="input changed delay:500ms, search"
                        hx-target=".org-members"
                    />
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>

            <div
                class="org-members"
                hx-get="/orgs/{{ org.id }}/members/search?{{ query_params }}"
                hx-trigger="load"
            >
                <span class="panel-block is-skeleton">&nbsp;</span>
                <span class="panel-block is-skeleton">&nbsp;</span>
                <span class="panel-block is-skeleton">&nbsp;</span>
                <span class="panel-block is-skeleton">&nbsp;</span>
                <span class="panel-block is-skeleton">&nbsp;</span>
                <span class="panel-block is-skeleton">&nbsp;</span>
            </div>
        </div>
    </section>
{% endblock %}
