{% extends "layout/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/orgs">Orgs</a></li>
                    <li><a href="/orgs/{{ org.id }}">{{ org.name }}</a></li>
                    <li><a href="/orgs/{{ org.id }}/apps">Apps</a></li>
                    <li class="is-active">
                        <a href="/orgs/{{ org.id }}/apps/{{ org_app.app_id }}" aria-current="page">
                            <span>
                                {% match org_app.app_name %}
                                    {% when Some with (name) %}
                                        {{ name }}
                                    {% when None %}
                                        (unknown)
                                {% endmatch %}
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <h1 class="title">App Information</h1>

            <div id="edit-org-app-container">
                {% include "widgets/org_apps/edit_controls.html" %}
            </div>

            <div class="box mt-5">
                <h1 class="title is-4 has-text-weight-bold">App</h1>

                <div class="columns is-variable is-6">
                    <div id="org-app-name-w" class="column is-one-half">
                        <p class="has-text-grey-dark"><strong>Name</strong></p>
                        <p>
                            {% match org_app.app_name %}
                                {% when Some with (name) %}
                                    {{ name }}
                                {% when None %}
                                    (unknown)
                            {% endmatch %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
