{% match error_message %}
    {% when Some with (msg) %}
        <div class="mb-5 notification is-danger">
            {{ msg }}
        </div>
    {% when None %}
{% endmatch %}

<div class="field mb-5">
    <label class="label">New Owner</label>
    <div class="control">
        <input type="hidden" name="owner_id" value="{{ payload.owner_id }}" />
        <input type="hidden" name="owner_email" value="{{ payload.owner_email }}" />
        <p><strong>{{ payload.owner_email }}</strong></p>
    </div>
</div>

<hr />

<div class="field is-grouped">
    <div class="control">
        <input type="hidden" name="token" value="{{ payload.token }}" />
        <button class="button is-link" type="submit" name="submit">Update Owner</button>
    </div>
    <div class="control">
        <button
            class="button is-link is-light"
            hx-get="/orgs/{{ org.id }}/edit-controls"
            hx-target="#edit-org-container"
        >
            Cancel
        </button>
    </div>
</div>
