{% extends "layout/base.html" %}

{% block content %}
<section class="section">
    <div class="container" x-data="{ edit_photos: false }">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/buckets/{{ bucket.id }}">{{ bucket.label }}</a></li>
                <li class="is-active">
                    <a href="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}" aria-current="page">
                        <span id="breadcrumb-album-label">{{ dir.label }}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <h1 class="title" id="album-title">
            {{ dir.label }}
        </h1>

        <div id="edit-dir-container">
            {% include "widgets/edit_dir_controls.html" %}
        </div>

        <div class="has-text-right is-size-7">
            <span id="photos-count-w">&nbsp;</span>
        </div>

        <div class="photo-gallery-container">
            <div
                id="photo-gallery"
                hx-get="/buckets/{{ bucket.id }}/dirs/{{ dir.id }}/photo_grid?page=1"
                hx-trigger="load"
                :class="edit_photos ? 'photo-grid photo-grid-edit' : 'photo-grid'"
            >
                <div class="photo-grid-item has-background-{{ t.theme +}} skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-{{ t.theme +}} skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-{{ t.theme +}} skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-{{ t.theme +}} skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-{{ t.theme +}} skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
                <div class="photo-grid-item has-background-{{ t.theme +}} skeleton-block">
                    <div class="photo-item">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
