<!DOCTYPE html>
<html lang="en" data-theme="{{ t.theme }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>YAAS - {{+ t.title }}</title>

<link nonce="{{ t.nonce }}" rel="stylesheet" href="/assets/vendors/fontawesome-free/6.6.0/css/all.min.css" />
<link nonce="{{ t.nonce }}" rel="stylesheet" href="/assets/vendors/bulma/1.0.2/css/bulma.min.css" />

{% for style in t.styles %}
<link nonce="{{ t.nonce }}" rel="stylesheet" href="{{ style }}" />
{% endfor %}
</head>

<body>
<div class="main-w">
{% include "layout/nav.html" %}

{% block content %}
{% endblock %}

{% include "layout/footer.html" %}
</div>


<script nonce="{{ t.nonce }}" src="/assets/vendors/htmx/2.0.2/js/htmx.min.js"></script>
<script nonce="{{ t.nonce }}" src="/assets/vendors/alpinejs/3.14.9/alpinejs.min.js"></script>

{% for script in t.scripts %}
<script nonce="{{ t.nonce }}" src="{{ script }}"></script>
{% endfor %}

{% for script in t.async_scripts %}
<script nonce="{{ t.nonce }}" async src="{{ script }}"></script>
{% endfor %}

<script nonce="{{ t.nonce }}">
{% for line in t.script_vars %}
{{ line|safe  }}
{% endfor %}
</script>

{% match t.ga_tag_id %}
    {% when Some with (ga_tag_id) %}
        <script nonce="{{ t.nonce }}" async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tag_id }}"></script>
        <script nonce="{{ t.nonce }}">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '{{ ga_tag_id }}');
        </script>
    {% when None %}
{% endmatch %}
</body>
</html>
